<div style="height: 80vh; display: flex; flex-direction: row; justify-content: center; align-items: center">
  <mat-card style="width: 40%">
    <mat-card-title>
      Adding User
    </mat-card-title>
    <mat-card-content>


      <form [formGroup]="myForm" (keydown.enter)="addUser()">
        <div class="column-container">
          <mat-form-field>
            <input matInput placeholder="User-Service ID" formControlName="userId">
            <mat-error *ngIf="userId.touched && userId.invalid">
              Service-UserID is required
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <textarea matInput placeholder="Title" formControlName="title"></textarea>
            <mat-error *ngIf="title.touched && title.invalid">
              Title is required
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <textarea matInput placeholder="Description" formControlName="body"></textarea>
            <mat-error *ngIf="body.touched && body.invalid">
              Description is required
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Select">
              <mat-option value="option">Service A</mat-option>
              <mat-option value="option">Service B</mat-option>
              <mat-option value="option">Service C</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- <mat-form-field>
        <mat-checkbox>Are you sure ?!!</mat-checkbox>
      </mat-form-field> -->

        </div>
      </form>

    </mat-card-content>

    <mat-card-actions>
      <div style="text-align: right;">
        <button mat-button [disabled]="myForm.invalid" (click)="addUser()" cdkFocusInitial>Add</button>
      </div>
    </mat-card-actions>

    <mat-card-footer>
      <mat-progress-bar mode="indeterminate" *ngIf="addingUser"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>